:root {

 --heartShape: "M150 71.5C117.2 15.0375 25 31.525 25 102.262C25 148.825 79.3125 198.85 141.288 259.012C143.713 261.375 146.863 262.55 150 262.55C153.137 262.55 156.287 261.375 158.712 259.012C220.925 198.625 275 148.837 275 102.262C275 31.2875 182.55 15.4625 150 71.5Z";

 --squareShape:"M300 75C300 33.6125 266.388 0 225 0H75C33.6125 0 0 33.6125 0 75V225C0 266.388 33.6125 300 75 300H225C266.388 300 300 266.388 300 225V75Z";
 --circleShape:"M149.975 274.95C218.997 274.95 274.95 218.997 274.95 149.975C274.95 80.9532 218.997 25 149.975 25C80.9532 25 25 80.9532 25 149.975C25 218.997 80.9532 274.95 149.975 274.95Z";
 --star:"M131.235 5.8875C142.398 -1.9625 157.585 -1.9625 168.76 5.8875C195.535 24.7125 189.785 22.9125 222.948 22.8125C236.798 22.7625 249.085 31.3375 253.31 44.0125C263.473 74.35 259.898 69.6625 286.798 88.3125C298.035 96.1 302.735 109.975 298.398 122.613C288.073 152.825 288.023 147.025 298.398 177.375C302.735 190.012 298.035 203.887 286.798 211.675C259.91 230.325 263.473 225.638 253.31 255.975C249.085 268.65 236.798 277.225 222.948 277.187C189.773 277.075 195.535 275.275 168.76 294.1C157.585 301.962 142.398 301.962 131.235 294.1C104.448 275.287 110.21 277.062 77.0479 277.187C63.1979 277.225 50.9104 268.65 46.6854 255.975C36.5354 225.6 40.0229 230.3 13.1854 211.675C1.9604 203.887 -2.7396 190.012 1.5979 177.375C11.9354 147.15 11.9729 152.962 1.5979 122.613C-2.7396 109.975 1.9604 96.1 13.1854 88.3125C40.0104 69.7 36.5229 74.4125 46.6854 44.0125C50.9104 31.3375 63.1979 22.7625 77.0479 22.8125C110.123 22.9125 104.298 24.825 131.235 5.8875Z"

}

html,body{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.normal{
    position: relative;
   
}
.frame{
    position: relative;
    /* top: 50%; */
    /* left: 3%; */
    clip-path: path(var(--heartShape));
}

/* .frame:focus{
    clip-path: path(var(--squareShape));
    cursor: pointer;
} */

img{
    width: 100%;
    height: 100%;
}
.square,.square:focus{
    
    clip-path: path(var(--squareShape));
}
.star,.star:focus{
    clip-path: path(var(--star));
}
.circle,.circle:focus{
    clip-path: path(var(--circleShape));
}
g
.btn-container{
    width: 50%;
    display: flex;
    
}
.btn{
    margin: 10px;
}
#display_image{
    width: 375px;
    height: 311px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}
#modal-frame,#display-frame{
    height: 300px;
}