:root {

 --rectangle: "M150 0L127.55 24.5125L97.9125 9.05L85.3125 39.65L52.1 35.1L50.9 68.1L18.1125 75L28.4 106.412L0 123.95L20.6125 150.013L0 176.05L28.4 193.588L18.1125 225L50.9 231.912L52.1 264.9L85.3125 260.363L97.9125 290.963L127.55 275.5L150 300L172.462 275.5L202.087 290.963L214.713 260.363L247.913 264.9L249.113 231.912L281.9 225L271.6 193.588L300 176.05L279.387 150.013L300 123.95L271.6 106.412L281.9 75L249.113 68.1L247.913 35.1L214.713 39.65L202.087 9.05L172.462 24.5125L150 0Z";

 --badge:"M300 50C300 22.4 277.6 0 250 0H50C22.4 0 0 22.4 0 50V250C0 277.6 22.4 300 50 300H250C277.6 300 300 277.6 300 250V50Z";
 --pentagon:"M143.337 39.7875C145.525 38.2625 148.087 37.5 150.637 37.5C153.212 37.5 155.8 38.2875 158 39.825C180.225 55.475 246.8 102.288 269.625 118.35C273.05 120.775 275 124.662 275 128.675C275 130.05 274.775 131.438 274.3 132.788C265.587 157.988 240.95 229.262 232.412 253.95C230.637 259.075 225.787 262.5 220.35 262.5H80.9375C75.5375 262.5 70.7125 259.125 68.9125 254.075C60.1625 229.525 34.7625 158.237 25.7375 132.9C25.2375 131.512 25 130.087 25 128.675C25 124.625 26.9625 120.725 30.4375 118.313C53.6 102.2 120.925 55.375 143.337 39.7875Z";
 --star:"M131.235 5.8875C142.398 -1.9625 157.585 -1.9625 168.76 5.8875C195.535 24.7125 189.785 22.9125 222.948 22.8125C236.798 22.7625 249.085 31.3375 253.31 44.0125C263.473 74.35 259.898 69.6625 286.798 88.3125C298.035 96.1 302.735 109.975 298.398 122.613C288.073 152.825 288.023 147.025 298.398 177.375C302.735 190.012 298.035 203.887 286.798 211.675C259.91 230.325 263.473 225.638 253.31 255.975C249.085 268.65 236.798 277.225 222.948 277.187C189.773 277.075 195.535 275.275 168.76 294.1C157.585 301.962 142.398 301.962 131.235 294.1C104.448 275.287 110.21 277.062 77.0479 277.187C63.1979 277.225 50.9104 268.65 46.6854 255.975C36.5354 225.6 40.0229 230.3 13.1854 211.675C1.9604 203.887 -2.7396 190.012 1.5979 177.375C11.9354 147.15 11.9729 152.962 1.5979 122.613C-2.7396 109.975 1.9604 96.1 13.1854 88.3125C40.0104 69.7 36.5229 74.4125 46.6854 44.0125C50.9104 31.3375 63.1979 22.7625 77.0479 22.8125C110.123 22.9125 104.298 24.825 131.235 5.8875Z"

}

html,body{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame{
    height: 300px;
    width: 300px;
    position: relative;
    clip-path: path(var(--rectangle));
}
.frame:hover,
.frame:focus{
    clip-path: path(var(--badge));
    cursor: pointer;
}
img{
    
    height: 350px;
}
.star,.star:hover,.pentagon:focus{
    clip-path: path(var(--star));
}
.pentagon,.pentagon:hover,.pentagon:focus{
    clip-path: path(var(--star));
}